{% extends 'newsletter/base.html' %}

{% block content %}
{% if user.is_authenticated and not perms.newsletter.view_newsletter %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'newsletter:create' %}">Добавить рассылку</a>
</div>
{% endif %}
{% for object in object_list %}
{% if user == object.owner or perms.newsletter.view_newsletter %}
<div class="col-md-6">
    <div class="card w-75 mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object.message }} ({{ object.first_mailing }}-{{ object.last_mailing}})</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if user == object.owner or perms.newsletter.view_newsletter %}
                    <a href="{% url 'newsletter:detail' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Информация</a>
                    <a href="{% url 'newsletter:try_mailing' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Попытки</a>
                    {% endif %}
                    <a href="{% url 'newsletter:update' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Редактировать</a>
                    {% if user == object.owner or user.is_superuser == True %}
                    <a href="{% url 'newsletter:delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}